* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container {
    /* Posicionamos en el centro del navegador */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    border-radius: 20px;
    padding: 25px 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

#mensaje{
    display: flex;
    justify-content: center;
}

.alerta {
    /*Posicion del div*/
    position: fixed;
    top: 10%;

    /* Estilo del div */
    padding: 10px 10px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.8);

    text-align: center;
    color: white;
    font-family: 'consolas';
    font-size: 13px;
}

.instrucciones {
    /* Posicionamos en el centro del navegador */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;

    /* Mantenemos oculto el elemento */
    visibility: hidden;

    background-color: #fff;
    width: 650px;
    border-radius: 20px;
    padding: 25px 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    /* Texto */
    color: #222021;
    font-family: 'consolas';
    font-size: 14px;
}

.final {
    /* Posicionamos en el centro del navegador */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;

    /* Mantenemos oculto el elemento */
    visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #fff;
    width: 350px;
    height: 100px;
    border-radius: 20px;
    padding: 25px 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    /* Texto */
    color: #222021;
    font-family: 'consolas';
    font-size: 14px;
}

.visible {
    /* Mostramos el elemento */
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    color: #222021;
    font-family: 'consolas'; 
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
}

.nueva-partida {
    background-color: #94bbe9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'consolas';
    cursor: pointer;
}

.nueva-partida:hover {
    opacity: 0.7;
}

#tablero {
    width: 240px;
    height: 320px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

#teclado {
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    background-color: transparent;
    border: none;
    color: #222021;
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.casilla {
    /* Cuadrícula */
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    margin: 2.5px;
    border-radius: 10%;

    /* Texto */
    color: #222021;
    font-family: 'consolas'; 
    font-weight: bold;
    font-size: 25px;
    /* Centramos el texto */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecla {
    /* Cajita */
    padding: 5px 10px;
    margin: 2.15px;
    border: 1px solid gray;
    border-radius: 10%;
    background-color: transparent;
    cursor: pointer;

    /* Texto */
    font-family: "consolas";
    color: #222021;
}

.tecla:hover {
    /* Se activa cuando el ratón pasa por encima */
    background-color: lightgray;
}

.nula {
    /* Cuando la letra no está en la palabra */
    background-color: gray;
    border-color: white;
    color: white;
}

.incorrecta {
    /* Cuando la letra está en la palabra pero no en la posición correcta */
    background-color: #94bbe9;
    border-color: white;
    color: white;
}

.correcta {
    /* Cuando la letra está en la palabra y en la posición correcta */
    background-color: #eeaeca;
    border-color: white;
    color: white;
}

.oculta {
    /* Letra cubierta, no podremos obtener información de esta casilla */
    background-color: #222021;
    border-color: #222021;
    color: white;
}