* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.btn {
    background-color: transparent;
    width: 40px;
    height: 40px;
    
    color: grey;
    font-size: 20px;
    text-align: center;
    
    border:none;
    border-radius: 50%;
    margin: 5px;
    
    cursor: pointer;
}
  
.btn:hover {
    /* Se activa cuando el ratón pasa por encima */
    background-color: grey;
    color: white;
    opacity: 0.6;
}

.container {
    /* Posicionamos en el centro del navegador */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    width: 400px;
    border-radius: 20px;
    padding: 25px 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

#titulo {
    color: #222021;
    font-family: 'consolas'; 
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
}

#tablero {
    width: 240px;
    height: 320px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.casilla {
    /* Cuadrícula */
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    margin: 2.5px;
    border-radius: 10%;

    /* Texto */
    color: #222021;
    font-family: 'consolas'; 
    font-weight: bold;
    font-size: 25px;
    /* Centramos el texto */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nula {
    /* Cuando la letra no está en la palabra */
    background-color: #353133;
    border-color: white;
    color: white;
}

.incorrecta {
    /* Cuando la letra está en la palabra pero no en la posición correcta */
    background-color: #94bbe9;
    border-color: white;
    color: white;
}

.correcta {
    /* Cuando la letra está en la palabra y en la posición correcta */
    background-color: #eeaeca;
    border-color: white;
    color: white;
}

.actual {
    /* Indica la posición del jugador */
    border-color: rgb(144, 202, 249);
}

#teclado {
    width: 370px;
    height: 100px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.tecla {
    /* Cajita */
    padding: 5px 10px;
    margin: 2.15px;
    border: 1px solid gray;
    border-radius: 10%;
    background-color: transparent;

    /* Texto */
    font-family: "consolas";
    color: #222021;
}